body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color: navy;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Imagem exibida do computador na pagina detalhe*/
.detailImage{
    max-width:200px;
    padding-bottom:6px;
}
/*Imagem do computador na pagina principal*/
.imageCell{
    max-width:128px;
    padding:10px;
}
/*Nome Computador Exibido*/
#itemNome{
    font-size:24px;
}
/*Preço Computador Exibido*/
#itemPreco{
    font-size:18px;
    color:red;
}

